$var1: default;
$var2: default;

.selector{
    var1: $var1;
}

#block-one {
  #before-var-reassignment-inside {
    var1: $var1;
  }
  $var1: changed-by-block-one;
}

#block-two {
  $var2: changed-by-block-two;

  #after-var-reassignment-inside {
    var2: $var2;
  }
  
}

.completely-different-block {
    var2: $var2;
}